div{
background-color: #82c3a6;
width: 10%;
height: 40%;
margin: 0;

animation-name: rebote;
animation-duration: 1.5s;
-webkit-animation-delay:1s;
-moz-animation-delay: 1s;
-o-animation-delay:1s;
animation-delay: 1s;
}


@keyframes rebote {
  0%{
  position: relative;
  margin-top: 150%;
  }

  60%{
  position: relative;
  margin-top: -5%;
  }

  100%{
  position: relative;
  margin-top: 0%;
  }
}
