@font-face {
  font-family: 'Dancing Script';
  src:url(../fonts/DancingScript-Regular.ttf);
}


body{
font-family: 'Dancing Script', cursive;
margin: 0;
background: black;

/*ANIMACION*/
animation-name: rebote;
animation-duration: 1s;
-webkit-animation-delay:0.1s;
-moz-animation-delay: 0.1s;
-o-animation-delay:0.1s;
animation-delay: 0.1s;

}

@keyframes rebote {
  0%{
  position: relative;
  margin-top: 150%;
  }
  60%{
  position: relative;
  margin-top: -5%;
  }
  100%{
  position: relative;
  margin-top: 0%;
  }
}


@media  (min-width: 900px) {

  #contenido
	{
		width: 900px;
    margin: 0.3% auto;

	}

  header{
    margin: 0 auto;
		background-color:  #5b7989;
		height: 10vh;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
    -webkit-border-radius: 10px  10px 0   0;
    -moz-border-radius: 10px 10px 0   0;
	}


  #izq{
    height: 100%;
    width: 60%;
    }

    #izq p
    {
    color:white;
    text-shadow: 2px 2px 2px  #02010a;
    font-size: 5vh;
    padding-left: 2vh;
    margin-top: 3vh;
    }

    #der{
      width: 40%;
      }

      #menu{
      position: relative;
      float: right;
      padding-right: 2vh;
      padding-top: 6vh;
      }


      #menu a {
      color: white;
      text-decoration: underline;
      padding-right: 2vh;

      }

      #menu  a:hover{
      text-decoration:none !important;
      text-shadow: 2px 2px 2px  #02010a;
      }

      #retratos{
        text-decoration:none !important;
      }

      #columna1
      {
      margin-top: 0;
      background-color: #82c3a6;
      width: 100%;
      display: -webkit-flex;
    	display: flex;
    	-webkit-flex-flow: row wrap;
    	flex-flow: row wrap;

            }
      #columna1 div {
        margin:  0;
        flex: 1 1 auto;
      	width: 30%;
        padding: 1vh;
        text-align: center;
      }

      #columna1 > div >img{
        margin:  0 0 -4px 0;
        width: 100%;
      }


      #cont1 >img{
        -webkit-filter:blur(10px);
	      filter: blur(10px);
      }

      #cont2, #cont4, #cont6 >img{
        -webkit-filter:grayscale(100%);
	      filter: grayscale(100%);
      }

      #cont3 >img{
        -webkit-filter:sepia(90%);
        	filter: sepia(90%);
      }


      article > div >img{
      box-shadow:  2px 2px  #02010a;
      }

/***********PIE DE PAGINA*****************/
      footer{
        margin-top: 0;
        padding: 2vh;
        background: #C6d5c5;
        -webkit-border-radius:0 0 10px  10px;
        -moz-border-radius: 0 0 10px  10px;
        height: auto;
        display:    flex;
        flex-direction: row;
      }


      footer >div{
      background: rgba(91, 121, 137, 0.1) ;
      --border: 2px solid black;
      width: 20%;
      margin: auto;
      padding: 2vh;
      margin-top:2vh;
      margin-bottom: 2vh;
      -webkit-border-radius:1vh ;
      -moz-border-radius: 1vh ;
      }

      footer >div:hover {
        background:rgba(91, 121, 137, 0.3) ;
      }

      footer >div > h1{
        margin-top: 0;
        font-size: 4vh;
        text-align: center;
        opacity: 1;
      }

      footer >div > a{
        text-decoration: none ;
        color: black;
        line-height: 2em;

      }

      .Redes{
        width: 2em;
        transition-property: width;
        transition-duration: 0.5s;
      }

     footer >div > a> img:hover{
     width: 2.5em;
     }
     #Derechos{
       text-align: center;
     }
    #Derechos img{
      width: 3em;
      transition-property: width;
      transition-duration: 0.5s;
    }

    #Derechos img:hover{
      width: 3.5em;
    }
}



/*VERSION MOVIL*/
@media  (max-width: 899px) {

  #contenido
      {
        width: 100%;
        margin: 0.5vh 0;
      }



      header
      {
      -webkit-border-radius: 10px 10px 0   0;  /* Safari  */
      -moz-border-radius: 10px 10px 0   0;     /* Firefox */
      width:100%;
      background-color:  #5b7989;
      color: white;
      }

      #izq{
        width: 100%;
        padding-bottom: 0;
      }

      #izq p
      {
      color:white;
      text-shadow: 2px 2px 2px  #02010a;
      font-size: 2.3em;
      margin-top: 1vh;
      text-align: center;
      padding-bottom: 0;
      }

      #der{
        margin-top: -2.2em;
        width: 100%;
       height: 2em;
      }

      #menu{
      text-align: center;
      padding-top: 0;
      margin-top: 0;
      }

      #menu a{
      color: white;
      text-decoration: underline;
      padding-right: 2vh;
      font-size: 1.3em;
      }
      #menu a:hover{
      text-decoration:none !important;
       text-shadow: 2px 2px 2px  #02010a;
      }

      #retratos{
        text-decoration:none !important;
      }


      #columna1
      {
      width: 100%;
      background-color: #82c3a6 ;
      margin-top: 0;
      display: flex;
      flex-flow: column;
      padding: 2vh 0;

      }

      #columna1 >div{
            padding: 1vh;
            margin: 1vh auto;
            width: 90%;
            text-align: center;
            --margin-bottom: 2vh;
            }

        #columna1 >div>img{
                  width: 100%;
        }

        #cont1 >img{
          -webkit-filter:blur(10px);
          filter: blur(10px);
        }

        #cont2, #cont4, #cont6 >img{
          -webkit-filter:grayscale(100%);
          filter: grayscale(100%);
        }

        #cont3 >img{
          -webkit-filter:sepia(90%);
            filter: sepia(90%);
        }

        article > div >img{
        box-shadow:  2px 2px  #02010a;
        }
/***********PIE DE PAGINA*****************/
      footer{
        margin-top: 0;
        padding-top: 1vh ;
        padding-bottom: 1vh;
        background: #C6d5c5;
        -webkit-border-radius:0 0 10px  10px;
        -moz-border-radius: 0 0 10px  10px;
        height: auto;
        align-content: center;
      }


    footer >div {
     background: rgba(91, 121, 137, 0.1) ;
     margin: 1em;
     padding: 2vh;
     margin-top:2vh;
     margin-bottom: 2vh;
     -webkit-border-radius:1vh ;
     -moz-border-radius: 1vh ;
     }

     footer >div:hover {
       background:rgba(91, 121, 137, 0.3) ;
     }

     footer >div > h1{
       margin-top: 0;
       font-size: 1.5em;
       text-align: center;
     }

      footer >div > a{
      margin-top: 1em;
      text-decoration: none ;
      color: black;
      line-height: 2em;
      }


     .Redes{
       width: 2em;
       transition-property: width;
     	 transition-duration: 0.5s;
     }

      footer >div > a> img:hover{
      	width: 2.5em;
      }
      #Derechos{
        text-align: center;
      }
     #Derechos img{
       width: 3em;
       transition-property: width;
     	 transition-duration: 0.5s;
     }
     #Derechos img:hover{
       width: 3.5em;
     }
}
